@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

@theme {
	--font-sans:
		var(--font-geist-sans), ui-sans-serif, system-ui, sans-serif,
		"Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
	--font-fancy: var(--font-parisienne), cursive;

	--animate-fade-in-up: fadeInUp 0.7s ease-out forwards;
	--animate-fade-in-zoom: fadeInZoom 0.7s ease-out forwards;
	--animate-fade-in-right: fadeInRight 0.7s ease-out forwards;
	--animate-fade-in-left: fadeInLeft 0.7s ease-out forwards;

	@keyframes fadeInUp {
		from {
			opacity: 0;
			transform: translateY(20px);
		}
		to {
			opacity: 1;
			transform: translateY(0);
		}
	}

	@keyframes fadeInZoom {
		from {
			opacity: 0;
			transform: scale(0.8);
		}
		to {
			opacity: 1;
			transform: scale(1);
		}
	}

	@keyframes fadeInRight {
		from {
			opacity: 0;
			transform: translateX(-200px);
		}
		to {
			opacity: 1;
			transform: translateX(0);
		}
	}

	@keyframes fadeInLeft {
		from {
			opacity: 0;
			transform: translateX(200px);
		}
		to {
			opacity: 1;
			transform: translateX(0);
		}
	}
}

@theme inline {
	--color-background: var(--background);
	--color-foreground: var(--foreground);
	--font-sans: var(--font-sans);
	--font-mono: var(--font-geist-mono);
	--color-sidebar-ring: var(--sidebar-ring);
	--color-sidebar-border: var(--sidebar-border);
	--color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
	--color-sidebar-accent: var(--sidebar-accent);
	--color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
	--color-sidebar-primary: var(--sidebar-primary);
	--color-sidebar-foreground: var(--sidebar-foreground);
	--color-sidebar: var(--sidebar);
	--color-chart-5: var(--chart-5);
	--color-chart-4: var(--chart-4);
	--color-chart-3: var(--chart-3);
	--color-chart-2: var(--chart-2);
	--color-chart-1: var(--chart-1);
	--color-ring: var(--ring);
	--color-input: var(--input);
	--color-border: var(--border);
	--color-destructive: var(--destructive);
	--color-accent-foreground: var(--accent-foreground);
	--color-accent: var(--accent);
	--color-muted-foreground: var(--muted-foreground);
	--color-muted: var(--muted);
	--color-secondary-foreground: var(--secondary-foreground);
	--color-secondary: var(--secondary);
	--color-primary-foreground: var(--primary-foreground);
	--color-primary: var(--primary);
	--color-popover-foreground: var(--popover-foreground);
	--color-popover: var(--popover);
	--color-card-foreground: var(--card-foreground);
	--color-card: var(--card);
	--radius-sm: calc(var(--radius) - 4px);
	--radius-md: calc(var(--radius) - 2px);
	--radius-lg: var(--radius);
	--radius-xl: calc(var(--radius) + 4px);
	--radius-2xl: calc(var(--radius) + 8px);
	--radius-3xl: calc(var(--radius) + 12px);
	--radius-4xl: calc(var(--radius) + 16px);
}

:root {
	--radius: 0.25rem;
	--background: oklch(97.036% 0.04683 152.026);
	--foreground: oklch(0.147 0.004 49.25);
	--card: oklch(1 0 0);
	--card-foreground: oklch(0.147 0.004 49.25);
	--popover: oklch(1 0 0);
	--popover-foreground: oklch(0.147 0.004 49.25);
	--primary: oklch(67.854% 0.08055 75.363);
	--primary-foreground: oklch(0.98 0.02 166);
	--secondary: oklch(70.801% 0.06375 76.257);
	--secondary-foreground: oklch(0.21 0.006 285.885);
	--muted: oklch(0.97 0.001 106.424);
	--muted-foreground: oklch(0.553 0.013 58.071);
	--accent: oklch(0.97 0.001 106.424);
	--accent-foreground: oklch(0.216 0.006 56.043);
	--destructive: oklch(0.577 0.245 27.325);
	--border: oklch(0.923 0.003 48.717);
	--input: oklch(0.923 0.003 48.717);
	--ring: oklch(0.709 0.01 56.259);
	--chart-1: oklch(0.85 0.13 165);
	--chart-2: oklch(0.77 0.15 163);
	--chart-3: oklch(0.7 0.15 162);
	--chart-4: oklch(0.6 0.13 163);
	--chart-5: oklch(0.51 0.1 166);
	--sidebar: oklch(0.985 0.001 106.423);
	--sidebar-foreground: oklch(0.147 0.004 49.25);
	--sidebar-primary: oklch(0.6 0.13 163);
	--sidebar-primary-foreground: oklch(0.98 0.02 166);
	--sidebar-accent: oklch(0.97 0.001 106.424);
	--sidebar-accent-foreground: oklch(0.216 0.006 56.043);
	--sidebar-border: oklch(0.923 0.003 48.717);
	--sidebar-ring: oklch(0.709 0.01 56.259);
}

/*
.dark {
	--background: oklch(0.147 0.004 49.25);
	--foreground: oklch(0.985 0.001 106.423);
	--card: oklch(0.216 0.006 56.043);
	--card-foreground: oklch(0.985 0.001 106.423);
	--popover: oklch(0.216 0.006 56.043);
	--popover-foreground: oklch(0.985 0.001 106.423);
	--primary: oklch(0.7 0.15 162);
	--primary-foreground: oklch(0.26 0.05 173);
	--secondary: oklch(0.274 0.006 286.033);
	--secondary-foreground: oklch(0.985 0 0);
	--muted: oklch(0.268 0.007 34.298);
	--muted-foreground: oklch(0.709 0.01 56.259);
	--accent: oklch(0.268 0.007 34.298);
	--accent-foreground: oklch(0.985 0.001 106.423);
	--destructive: oklch(0.704 0.191 22.216);
	--border: oklch(1 0 0 / 10%);
	--input: oklch(1 0 0 / 15%);
	--ring: oklch(0.553 0.013 58.071);
	--chart-1: oklch(0.85 0.13 165);
	--chart-2: oklch(0.77 0.15 163);
	--chart-3: oklch(0.7 0.15 162);
	--chart-4: oklch(0.6 0.13 163);
	--chart-5: oklch(0.51 0.1 166);
	--sidebar: oklch(0.216 0.006 56.043);
	--sidebar-foreground: oklch(0.985 0.001 106.423);
	--sidebar-primary: oklch(0.77 0.15 163);
	--sidebar-primary-foreground: oklch(0.26 0.05 173);
	--sidebar-accent: oklch(0.268 0.007 34.298);
	--sidebar-accent-foreground: oklch(0.985 0.001 106.423);
	--sidebar-border: oklch(1 0 0 / 10%);
	--sidebar-ring: oklch(0.553 0.013 58.071);
}
*/

@layer base {
	* {
		@apply border-border outline-ring/50;
	}
	body {
		@apply bg-background text-foreground;
	}

	body {
		@apply text-foreground bg-background relative flex min-h-screen flex-col antialiased;
	}

	h1 {
		@apply scroll-m-20 text-center text-4xl font-extrabold tracking-tight text-balance;
	}
	h2 {
		@apply scroll-m-20 border-b pb-2 text-3xl font-semibold tracking-tight first:mt-0;
	}
	h3 {
		@apply scroll-m-20 text-2xl font-semibold tracking-tight;
	}
	h4 {
		@apply scroll-m-20 text-xl font-semibold tracking-tight;
	}
	h5 {
		@apply scroll-m-20 text-lg;
	}
	h6 {
		@apply scroll-m-20 text-base;
	}

	p {
		@apply leading-7;
	}
	blockquote {
		@apply mt-6 border-l-2 pl-6 italic;
	}
	code {
		@apply bg-muted relative rounded px-[0.3rem] py-[0.2rem] font-mono text-sm font-semibold;
	}
}

@layer components {
	.glass-transparent {
		@apply border-slate-300/50 bg-transparent backdrop-blur-md dark:border-slate-700/50 dark:bg-transparent;
	}
	.glass {
		@apply border-slate-300/50 bg-stone-100/50 backdrop-blur-md dark:border-slate-700/50 dark:bg-stone-900/50;
	}
	.glass-hq {
		@apply overflow-hidden border-slate-300/50 bg-stone-100/50 before:pointer-events-none before:absolute before:inset-0 before:-z-20 before:h-[200%] before:mask-b-from-black before:mask-b-from-50% before:mask-b-to-transparent before:mask-b-to-50% before:saturate-150 before:backdrop-blur-md dark:border-slate-700/50 dark:bg-stone-900/50;
	}
	.glass-hoverable {
		@apply transition-all duration-200 ease-in-out hover:border-slate-300/70 hover:bg-stone-100/60 hover:backdrop-blur-md focus-visible:border-slate-300/70 focus-visible:bg-stone-100/60 focus-visible:backdrop-blur-md dark:hover:border-slate-600/50 dark:hover:bg-gray-900/40 dark:focus-visible:border-slate-600/50 dark:focus-visible:bg-gray-900/40;
	}
	.glass-shadow {
		@apply shadow-sm shadow-slate-950/20 dark:shadow-slate-50/20;
	}
}

@layer utilities {
	.text-shadow-glow {
		text-shadow: 0 0 8px rgba(255, 255, 255, 0.6);
	}
}
